@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  font-family: Raleway, Arial, sans-serif;
}

header {
  background-color: black;
  color: white;
}

.logo {
  font-size: 15px;
  margin: 10px 80px;
  float: left;
  font-weight: 700;
}

.menu {
  font-size: 15px;
  float: right;
}

li {
  display: inline-block;
  margin: 10px 15px;
  font-weight: 700;
}

li:last-child {
  margin-right: 70px;
}

span {
  color: rgb(36, 186, 159);
}

.main_width {
  margin: 0 auto;
  width: 980px;
}

.img, .text {
  float: left;
  width: 50%;
}

div.text h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

div.text p {
  text-align: center;
  margin-bottom: 50px;
}

a {
  color: white;
  font-size: 20px;
  background-color: rgb(36, 186, 159);
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 40px;
  margin-left: 122.5px;
}

.bg {
  background: background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(64%, rgba(254,254,254,0.72)), color-stop(100%, rgba(120,115,120,0.57)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#787378', GradientType=0 );
}

.text, .img {
  margin: 90px -20px;
}
