@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  font-family: 'Raleway', Arial, sans-serif;
}

header {
  background-color: black;
  color: white;
}

.main_width {
  margin: 0 auto;
  width: 980px;
}

.wordLogo {
  font-size: 14px;
  float: left;
  font-weight: 700;
  line-height: 35px;
}

.menu {
  font-size: 15px;
  float: right;
}

li {
  display: inline-block;
  margin-right: 20px;
  font-weight: 700;
  line-height: 35px;
}

li:last-child {
  margin-right: 0;
}

span {
  color: rgb(36, 186, 159);
}

.img, .text {
  float: left;
  width: 50%;
}

div.text h1 {
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

div.text p {
  text-align: center;
  margin-bottom: 35px;
}

a {
  color: white;
  font-size: 20px;
  background-color: rgb(36, 186, 159);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 40px;
  margin-left: 122.5px;
}

.bg {
  background: background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(64%, rgba(254,254,254,0.72)), color-stop(100%, rgba(120,115,120,0.57)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,0.72) 64%, rgba(120,115,120,0.57) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#787378', GradientType=0 );
	margin-top: 45px;
}

.text {
	margin-left: -70px;
	margin-top: 20px;
}

section.bg > div {
  position: relative;
}

.arrow {
  font-size: 80px;
  color: rgb(36, 186, 159);
  position: absolute;
  top: 96.5px;
  left: 0px;
}

.arrow2 {
  font-size: 80px;
  color: rgb(36, 186, 159);
  position: absolute;
  top: 96.5px;
  right: 0px;
}


.box {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box:last-child {
  margin-right: 0;
  margin-top: 20px;
  border: 1px solid rgba(192,192,192,0.5);
}

article.box h1 {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  border-bottom: 8px solid rgb(36, 186, 159);
}


article.box p {
	padding-top: 10px;
	color:grey;
}

article.box {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 30px;
}

.overlay {
	position: relative;
}

.descriptionImage1 {
	position: absolute;
	top: 150px;
	background: rgba(255, 255, 255, 0.5);
	width: 294px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 20px;
}

.descriptionImage2 {
	position: absolute;
	top: 150px;
	left: 343px;
	background: rgba(255, 255, 255, 0.5);
	width: 294px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 20px;
}

.p1 {
	position: absolute;
	top: 178px;
	left: 15px;
	width: 130px;
	border-bottom: 8px solid rgb(36, 186, 159);
}

.p2 {
	position: absolute;
	top: 178px;
	left: 357px;
	width: 139px;
	border-bottom: 7px solid rgb(36, 186, 159);
}

.bg2 {
	background-color: rgb(241,241,241);
}

.priceListWord {
	font-size: 20px;
	font-weight: 550;
	padding-top: 30px;
}
.line {
	 width: 300px;
	 border: 4px solid rgb(36, 186, 159);
}

.basic, .standard, .advance {
	width:30%;
	float:left;
	margin-right:5%;
	height: 500px;
	margin-top:80px;
	border:1px solid rgb(204, 204, 204);
	position:relative;
	color: rgb(204, 204, 204);
	background-color:white;
}

.standard {
	background: rgb(36, 186, 159);
}
.advance {
	margin-right: 0px;
}

.circle {
		width:50px;
    height:50px;
    border-radius:25px;
    border:1px solid rgb(204, 204, 204);
    position:absolute;
    left:50%;
    margin-left:-25px;
    background-color:white;
}

.circle2 {
		width:50px;
    height:50px;
    border-radius:25px;
    border:1px solid rgb(204, 204, 204);
    position:absolute;
    left:50%;
    margin-left:-25px;
    background-color: rgb(36, 186, 159);
}

.dot {
		width:50%;
    height:50%;
    border-radius:50%;
    background-color: rgb(204, 204, 204);
    position:absolute;
    left:50%;
    margin-left:-12px;
    top:50%;
    margin-top:-12px;
}

.dot2 {
		width:50%;
    height:50%;
    border-radius:50%;
    background-color: white;
    position:absolute;
    left:50%;
    margin-left:-12px;
    top:50%;
    margin-top:-12px;
}

.helpDiv {
	position:absolute;
	left:0;
	right:0;
	top:-30px;
	text-align:center;
}

.basicWord {
	color: rgb(36, 186, 159);
	text-align: center;
	margin-top: 30px;
	font-size: 25px;
	font-weight: 500;
}

.standardWord {
	color: white;
	text-align: center;
	margin-top: 30px;
	font-size: 25px;
	font-weight: 500;
}

.priceCircle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid rgb(204, 204, 204);
	margin: 20px auto;
	color: rgb(204, 204, 204);
}

.priceCircle2 {
	background-color: white;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 20px auto;
	color: rgb(36, 186, 159);
}


.first {
	font-size: 40px;
	position: absolute;
	top: 115px;
	left: 120px;
	color:grey;
	font-weight: 500;
	color: rgb(204, 204, 204);
}

.first2 {
	font-size: 40px;
	position: absolute;
	top: 115px;
	left: 120px;
	color: rgb(36, 186, 159);
	font-weight: 500;
}

.second {
	position: absolute;
	top: 125px;
	left: 170px;
	font-weight: 500;
}

.third {
	position: absolute;
	top: 165px;
	left: 110px;
	font-weight: 500;
}

ul.offer li {
	display: block;
	text-align: center;
	padding: 5px 0;
	font-weight: normal;
	margin: 0;
}

div.basic li:nth-child(1) {
	background-color: rgb(228, 228, 228);
	color: rgb(163, 163, 163);
}

div.basic li:nth-child(2) {
	background-color: rgb(241, 241, 241);
	color: rgb(159, 159, 159);
}

div.standard li:nth-child(1) {
	background-color: white;
	color: rgb(167, 167, 167);
}

div.standard li:nth-child(2) {
	background-color: rgb(241, 241, 241);
	color: rgb(181, 181, 181);
}

div.standard li:nth-child(3) {
	background-color: white;
	color: rgb(167, 167, 167);
}

div.advance li:nth-child(1) {
	background-color: rgb(228, 228, 228);
	color: rgb(164, 164, 164);
}

div.advance li:nth-child(2) {
	background-color: rgb(241, 241, 241);
	color: rgb(155, 155, 155);
}

div.advance li:nth-child(3) {
	background-color: rgb(228, 228, 228);
	color: rgb(164, 164, 164);
}

div.advance li:nth-child(4) {
	background-color: rgb(241, 241, 241);
	color: rgb(155, 155, 155);
}

div.basic a, div.advance a {
	background-color: rgb(36, 186, 159);
	color: white;
	position: absolute;
	top: 450px;
	left: -10%;
	padding: 8px 10px;
	font-size: 15px;
}

div.standard a {
	background-color: white;
	color: rgb(36, 186, 159);
	position: absolute;
	top: 450px;
	left: -10%;
	padding: 8px 15px;
	font-size: 15px;
}
